# ============================================================
# FUTURA MARKETPLACE v3.0 — Variables de entorno
# ============================================================

DB_PASSWORD=futura2026
JWT_SECRET=futura_marketplace_secreto_muy_largo_2026_xyz
REDIS_HOST=redis
REDIS_PORT=6379
RABBITMQ_USER=futura
RABBITMQ_PASS=futura_rabbit_2026
AMQP_URL=amqp://futura:futura_rabbit_2026@rabbitmq:5672
MP_ACCESS_TOKEN=TEST-123456789
AWS_ACCESS_KEY=AKIAIOSFODNN7EXAMPLE
AWS_SECRET_KEY=wJalrXUtnFEMI
AWS_BUCKET=futura-marketplace
AWS_REGION=us-east-1
FRONTEND_URL=http://localhost:3000
NEXT_PUBLIC_API_URL=http://localhost:3001
BACKEND_URL=http://localhost:3001
WA_PHONE_ID=
WA_ACCESS_TOKEN=
WA_VERIFY_TOKEN=futura_whatsapp_token
WA_APP_SECRET=
SENDGRID_API_KEY=
GRAFANA_PASSWORD=grafana2026
WHATSAPP_SERVICE_URL=http://whatsapp:3007
ANALYTICS_SERVICE_URL=http://analytics:3009
NOTIFICATION_SERVICE_URL=http://notification:3008
